# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\manik\Downloads\question-28-mani154-sb1.5.21R-j1.8-gradle-in-docker-2-master\Log_Files_Processing\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
